body { 
	background: transparent url('http://i.imgur.com/D2ofput.jpg') repeat;
}
#header-nav {
	background-color: #FF1493;
	border-radius: 0;
	border: 0;
}
header {
	padding-top: 20px;
	height: 87px;
}
h1 {
	color: #000000;
	text-shadow: 2px 2px #E9967A;
	text-align: center;
	font-family:'Lobster', cursive;
	border-style: double;
}
.container .jumbotron {
	margin-top: 30px;
	padding: 0;
	box-shadow: 0 0 50px #FF69B4;
    border: 3px solid #E9967A;
}