body {
	background-image: url(../images/WebD.jpg);
}
h1 {
	color: #0180F3;
	text-shadow:  1px 1px #CB6B86;
	border: solid 1px black;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 1px #FF0000;
}
.Nina1 {
	box-shadow: 0 0 50px #CB6B86;
    border: 2px solid #CB6B86;

}	 